@import '~flexboxgrid/css/flexboxgrid.min.css';
@import '~rc-tooltip/assets/bootstrap_white.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background-color: #EEEEEE;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}
